*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    background-color: #E3E4DB ;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 480px;
    object-fit: cover;
    margin: auto;
    border-radius: 1rem;
}

.text-introduction {
    text-transform: uppercase;
    color: rgba(245, 96, 10, 0.719);
    text-shadow: 0.5px 0.5px 0.5px black;
    padding-top: 1rem;
}

h1, figcaption {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2 {
    font-family: "Playwrite AU SA", cursive;
}

p, figcaption {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-align: justify;
}

.firstFigCaption {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

section {
    margin: 2rem 0;
}

article > p {
    margin-bottom: 1rem;
}




