.standard-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.second-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.primary-section {
    img {
        height: 100%;
        border-radius: 4px;
    }
}

.second-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
}



.first-box {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid var(--brand-color-light);
}

.second-box {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.second-box span {
    position: absolute;
    margin: 8px;
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

}

.second-box p {
    text-align: justify;
    margin-top: 8px;
}

.third-section {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.title {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid var(--brand-color-light);
}

/* .left-side {
    border-top: 1px solid var(--brand-color-light);
} */

.box {
    display: flex;
    margin-block: 32px;
    max-height: 295px;

}

.box .left {
    width: 75%;
    height: auto;
    padding-right: 16px;
    padding-top: 16px;
}

.box .left h1 {
    padding-block: 16px;
    text-align: justify;
}

.box .left p {
    text-align: justify;
    color: var(--text-color-secondary);
     display: -webkit-box;
    -webkit-line-clamp: 4;       
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.box .right {
    width: 25%;
}

.box .right img {
    height: 100%;
}

.right-side {
    margin-left: 32px;
    height: 100%;
}

.box-img {
    display: flex;
    margin-block: 32px;
}

.box-img span {
    margin-bottom: 8px;
}

.box-img img {
    height: 100%;
}

.content-right {
    padding-inline: 16px;
    text-align: justify;
}








