nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    line-height: 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-block: 8px;
    gap: 20px;
}

nav ul li:last-child img{
    width: 40px;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}