* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
    margin: auto;
}

img {
    width: 317px;
    height: 317px;
    display: block;
    margin: auto;
}

header {
    background-color: #1A1B21;
    margin: auto;
    margin-top: 68px;
    width: 317px;
    overflow: hidden;
}

main {
    background-color: #1A1B21;
    margin: auto;
    width: 317px;
    height: 868px;
    
}